<div class="content">
  <div id="name"> 
    <h1>№6 60 Seconds</h1>
  </div>

  <article>
    <img src = "https://i.ytimg.com/vi/NrQCnW5z620/maxresdefault.jpg" alt='60 Seconds'>
  </article>

  <div id="information">
    <h1>60 Seconds</h1>

    <p>
      Це пригодницька відеогра, розроблена та видана польською студією Robot Gentleman. Він був випущений для Windows 25 травня 2015 року 18 грудня 2017 року дляNintendo Switch і 6 березня 2020 року для PlayStation 4 і Xbox One . Дія гри відбувається в передмісті, оскільки ядерна бомба спрацює за 60 секунд, змушуючи сім'ю з чотирьох осіб зібрати якомога більше припасів протягом певного періоду часу, а потім вижити і в кінцевому підсумку втекти в безпечніше місце з тим, що можна було зібрати запаси.
    </p>

    <p>
      Спочатку гра мала бути тестом, щоб перевірити, чи є Unity правильним ігровим движком для використання. Він був випущений у світ завдяки тому, наскільки добре пройшов тест.
    </p>

    <p>
      Оновлена ​​версія 60 Seconds! під назвою 60 секунд! Reatomized був випущений 25 липня 2019 року .
    </p>

    <h1>Сюжет</h1>
    
    <p>
      60 секунд! відбувається в Сполучених Штатах у 1960-х роках. Гра розповідає про сім'ю Макдудл (Тед, Долорес, Мері Джейн і Тіммі), яка намагається якомога довше пережити наслідки ядерного апокаліпсису .
    </p>

    <p>
      По-перше, гравець має титулярні 60 секунд, щоб придбати будь-які припаси, членів сім'ї та диверсійні предмети (наприклад, набір шашок) і доставити їх у підземне укриття під своїм будинком, включаючи члена сім'ї, якого вони спочатку контролювали, перед ядерною бомбою. скидається на околиці і вибухає. Якщо цього не зробити, це впливає на перебіг ігрового процесу.
    </p>

    <p>
      Щодня гравець повинен приймати рішення для сім’ї на основі наявних запасів, обмеженої інформації або можливостей членів сім’ї. Деякі з них тягнуть за собою ризик і можуть призвести до погіршення здоров’я або навіть смерті одного або всіх членів сім’ї.
    </p>

    <p>
      Що стосується витратних матеріалів, гравець повинен розраховувати їх споживання, наприклад їжу та воду, серед членів сім’ї, виходячи з того, скільки вони спочатку придбали, загального стану здоров’я та потреби в цьому. Гравець також повинен уважно ставитися до психічного стану членів сім'ї, оскільки ізоляція укриття також впливає на ігровий процес. (наприклад, Тед перетворить один зі своїх шкарпеток на ляльку і почне розмовляти з нею, наче це була людина).
    </p>

    <p>
      Іноді персонажу може знадобитися покинути притулок, щоб знайти припаси та їжу. Знову ж таки, це тягне за собою ризик, оскільки член сім’ї може захворіти від радіації на вулиці або не повернутися через подію, яка призвела до смерті персонажа.
    </p>

    <p>
      В інших випадках можна почути стукіт біля люка підземного притулку, і гравець повинен прийняти рішення, чи ігнорувати його, чи відкрити люк, щоб дозволити кому або будь-якому, хто є там, взаємодіяти з персонажами. Залежно від події, це може призвести до можливої ​​торгівлі між Макдудлами та іншими постраждалими сім’ями, або до рейду в притулку, де викрадають припаси, або до того, що мутант увійде в притулок і мутує сім’ю, закінчивши гру.
    </p>

    <p>
      Якщо гравець прийме рішення в потрібний момент, то існує ймовірність того, що армія США прийде врятувати сім’ю, успішно завершивши гру.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202011/0212/R7cA6zG4v2z2vO8ipsT3J7v7.png" alt="60 Seconds">
      <li>OS: Windows 7 / 8 / 10 (64-bit)</li>
      <li>Процесор: Intel Core 2 Duo или лучше AMD CPU</li>
      <li>Оперативна пам'ять: 4 GB</li>
      <li>Відеокарта: Nvidia GeForce 8800 GT или AMD Radeon HD2900 XT (с 512MB VRAM)</li>
      <li>DirectX: Version 9.0c</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://itc.ua/wp-content/uploads/2015/05/ss_8b25951910c719f3dfe7ef861e4d672fcd7f0563.1920x1080.jpg" alt="60 Seconds">
      <img src="https://static.gamehag.com/upload/GawVD08aCOAgOK8Ly0SO7AD8jFZRyy.jpg" alt="60 Seconds">
      <img src="https://static.gamehag.com/upload/dnlOKDir8WlK8lnM6OfSHZ8BM1PwZx.jpg" alt="60 Seconds">
      <img src="https://pbs.twimg.com/media/ERTjRO-X0AE68tC.jpg" alt="60 Seconds">
    </p>

    <h1>Купити гру можна за посиланням</h1>

    <button><a href="https://store.steampowered.com/app/368360/60_Seconds/"  target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_60s_1">
      <h2>Розмір:  787 MB | torrent від Game.you</h2>

      <a id="download" href="/download/60_Seconds_game.you_v1.406.exe.torrent" download >скачати через </br>торент</a>

      <lu id="game_you">
        <h2>Особливості сетапа</h2>

        <li>- Точний оригіналу з офіційного сайту</li>
        <li>- Нічого не вирізано/не перекодовано</li>
        <li>- Версія ігри:  v 1.0.0.5834 (остання)</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/vL3AI6MYTD8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>

    <a id="next" href="/paladins">
      <img src = "https://i.ytimg.com/vi/Wy12JyBUGpc/maxresdefault.jpg" alt='Paladins'>
    </a>
  </div>
</div>