<div class="content">
  <div id="name"> 
      <h1>№2 Dead Cells</h1>
  </div>

  <article>
    <img src = "https://cdn2.unrealengine.com/egs-deadcells-motiontwin-s1-2560x1440-312502186.jpg" alt='Hollow Knight'>
  </article>

  <div id="information">
    <h1>Dead Cells</h1>

    <p>
      Це roguelike відеогра з елементами Metroidvania та soulslike , розроблена та опублікована Motion Twin . 
      Гра була випущена для Linux , macOS , Microsoft Windows , Nintendo Switch , PlayStation 4 і Xbox One 7 серпня 2018 року. 
      Мобільний порт для iOS був випущений 28 серпня 2019 року, а порт для Android — у червні. 3, 2020.
    </p>

    <P>
      У грі гравець бере на себе роль аморфної істоти під назвою В'язень. Як в’язень, гравець повинен пробитися з хворого острова, щоб убити короля острова. 
    </P>

    <p>
      Гравець отримує різну зброю, скарби та інші інструменти шляхом дослідження процедурно згенерованих рівнів, використовуючи їх для боротьби з різними нежитями. 
      Часом гравець отримує «клітинки», внутрішньоігрову валюту , яку можна використовувати для придбання постійних оновлень або розблокування предметів. 
      Dead Cells використовує систему permadeath , через що гравець втрачає всі клітини та інші валюти та предмети після кожного випадку смерті.
    </p>

    <p>
      Виробництво Dead Cells почалося після того, як Motion Twin запланувала розробку для продовження своєї попередньої браузерної гри Die2Nite , де Dead Cells виступали як концепція їхньої попередньої назви, зосереджена на постійному бою. 
      Натхненням для гри були Team Fortress 2 , The Binding of Isaac і серія Souls . Гра була випущена в ранньому доступі в Steam , щоб отримати відгуки від потенційних гравців. 
      Після випуску Motion Twin підтримував гру з кількома оновленнями та розширеннями .
    </p>
                      
    <h1>Ігровий процес</h1>

    <p>
      Dead Cells описується як фантастична «roguevania», комбінація процедурно згенерованих ігор Roguelike та ігор Metroidvania , заснованих на екшн-дослідженні . 
      Гравець керує трупом, одержимим головою в’язня, який повертається до початку гри, коли гравець помирає. Коли він помирає, в’язень також втрачає всю зброю та отримані бонуси, за винятком кількох постійних предметів. 
      До зброї в першу чергу відносяться мечі, батоги, списи, якими можна вражати ворогів з обмеженої відстані. В’язень також може ухилятися від землі, щоб уникнути атак ворогів, або перестрибувати через атаки. Ухилення від ворожого простору дозволяє в’язню рухатися позаду ворога. 
      В’язень також може врізатися в землю, дозволяючи їм тимчасово знерухомити ворога і зробити його вразливим для подальших атак.
    </p>

    <p>
      Досліджуючи серію підземель і боротися з істотами всередині, гравець може збирати клітини з переможених ворогів, які можна використовувати для отримання постійних бонусів, таких як додаткові зілля здоров’я або зброю, яку можна випадково отримати під час бігу. 
      Ці клітини повинні бути витрачені в кінці підземелля; якщо гравець помре до цього, він втрачає всі зібрані клітинки. Чертежи також можна збирати з внутрішніх підземель, які потрібно вийняти з рівня. Збір креслень дозволяє придбати більше зброї та предметів у магазинах.
    </p>

    <p>
      Між підземелями гравець може отримати обмежену кількість мутацій, покращень, які надають унікальні бонуси до статистики в’язня, які триватимуть до смерті гравця. Гравець також може знайти приховані Power Scrolls всередині підземелля, які збільшують потужність зброї залежно від класу зброї інструменту.
    </p>

    <p>
      Кожен рівень процедурно генерується шляхом об’єднання попередньо розроблених розділів у випадковій конфігурації разом із випадковим розміщенням ворогів та предметів. Бій у грі можна порівняти з серією Souls , зі складними ворогами з певною поведінкою, якій гравець може навчитися, і де часта смерть гравця є основною частиною гри. 
      За один забіг можна битися з трьома персонажами- босами , а перемога над останнім босом у грі дає змогу зібрати «Клітинки боса», постійні модифікатори, які можна активувати, щоб підвищити складність ворогів. Поразка останнього боса, маючи максимальну кількість поточних клітинок боса, дає гравцеві ще одну клітинку боса.
    </p>

    <h1>Сюжет</h1>

    <p>
      В’язень прокидається в глибинах острівної в’язниці, де солдат заохочує їх втекти з острова. Коли в’язень намагається втекти з кварталу в’язнів, вони дізнаються, що острів колись був могутнім королівством, яке впало, коли на його населення почалася чума, відома як «Недуга». 
      Надприродна хвороба перетворила більшість громадян королівства на мутованих монстрів, а кілька мешканців, що залишилися, вижили як прищепи та сміттярки.
    </p>

    <p>
      Після втечі з кварталу в’язнів, в’язень вирішує вбити короля острова, що стає все більш відлюдним, якого жителі міста звинувачують у спалаху хвороби. В’язень також зустрічається з Колекціонером, фігурою в капюшоні, яка обмінює камери на предмети та зброю. 
      Досліджуючи решту острова, В’язень виявляє розрізнені алхімічні робочі станції. 
      Читаючи нотатки, валяні навколо робочих місць, в’язень дізнається, що королівський алхімік невтомно працював, щоб знайти ліки від нездужання, але пізніше зник за загадкових обставин.
    </p>

    <p>
      За межами кварталу в’язнів ув’язнений стикається з консьєржем, величезним звіром, який охороняє Чорний міст до решти острова. Крім того, якщо в’язень вирішив втекти з-під кварталу, замість цього на нього нападає чудовисько з щупальцями на ім’я Кон’юктивіус. 
      У будь-якому випадку, В’язень перемагає своїх ворогів і продовжує рухатися до королівського замку. 
      Коли в’язень наближається до годинникової вежі острова, вони стикаються з Хранителем часу, воїном, який з часом володіє майстерністю. Коли Хранителька часу розуміє, що її поразка неминуча, вона тікає за допомогою магічного порталу, даючи в’язню доступ до входу в замок.
    </p>

    <p>
      В’язень пробивається через замок, щоб потрапити в тронний зал, де вони виявляють короля в комі. Головний лейтенант монарха «Рука короля» раптово викликає в’язня на дуель. Після поразки Руки В’язень використовує свою зброю, щоб убити Короля. Тіло короля сильно вибухає, знищуючи тіло в’язня. 
      Коли голова в’язня повертається до Квартиру, щоб знайти новий труп, який слід заволодіти, вона зауважує, що, хоча король помер, нічого не змінилося.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81nKAjkTD4L.jpg">
      <li>Операційна система: Windows 7 / 8 / 10 (64-bit)</li>
      <li>Процессор: Intel i5+</li> 
      <li>Тип видавництва: Repack</li>
      <li>Оперативна пам'ять: 2 GB ОЗУ</li>
      <li>Відеокарта: Nvidia 450 GTS / Radeon HD 5750 or better</li>
      <li>Вільне місце на жорсткому диску: 4 GB</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://o.aolcdn.com/images/dimse/5845cadfecd996e0372f/333e7a75c6a07cba639d041203229f741082962f/Y3JvcD05ODElMkM1NTIlMkMwJTJDMCZxdWFsaXR5PTg1JmZvcm1hdD1qcGcmcmVzaXplPTE2MDAlMkM5MDAmaW1hZ2VfdXJpPWh0dHBzJTNBJTJGJTJGcy55aW1nLmNvbSUyRm9zJTJGY3JlYXRyLXVwbG9hZGVkLWltYWdlcyUyRjIwMTktMDQlMkYxM2NiMTJiMC01NTZlLTExZTktYWZiZC00MDNjZDQxY2Y3OTAmY2xpZW50PWExYWNhYzNlMWIzMjkwOTE3ZDkyJnNpZ25hdHVyZT02YWJiYjczNmU2NGZmMjkyODNmMGYyNjE0ZDFkMjlhN2IxN2I5M2Rm" alt="dead cells">
      <img src="https://www.gamereactor.nl/media/99/deadcells_2539933b.jpg" alt="dead cells">
      <img src="https://cdn.mos.cms.futurecdn.net/bmENCEixSvPhDaMLnKzrKm.jpg" alt="dead cells">
      <img src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/thumbnail/s3/2019/05/23/31fad411/deadcellsriseofthegiant.png" alt="dead cells">
    </p>
              
    <h1>Купити гру можна за посиланням</h1> 

    <button><a href="https://store.steampowered.com/app/588650/Dead_Cells/" target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_1">
      <h2>Розмір: 1.13 GB | RePack от Igruha</h2>

      <a id="download" href="/download/Dead-Cells-by-Igruha.torrent" download >скачати через </br>торент</a>

      <h2>Особливості репака</h2>

      <lu id="igruha">
        <li>- За основу взято реліз від GOG</li>
        <li>- Нічого не вирізано / Нічого не перекодовано</li>
        <li>- Версія: 1.18.0 (54612)</li>
        <li>- Зміна мови в налаштуваннях гри</li>
        <li>- Час завантаження 2 хвилина</li>
      </lu>
    </section>

    <p id="repack_img">
      <img src="https://assets2.rockpapershotgun.com/dead-cells-queen-and-the-sea-shark.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/dead-cells-queen-and-the-sea-shark.jpg" alt="dead cells">
    </p>

    <section id="repack_dead_2">
      <h2>Рoзмiр: 4.78 GB v1.18.2 (55428) | GOG</h2>   

      <a id="download" href="/download/Dead_Cells_1.18.2_55428_win_gog.torrent" download >скачати через </br>торент</a>


      <lu id="gog">
        <h2>Завантаження</h2>

        <li>Завантажити гру</li>
        <li>Завантажити доповнення з папки DLC</li>
        <li>Грати (україньська мова присутння)</li>
      </lu> 
    </section>   
                            
    <section id="trailer">
      <h4>Трейлер</h4>

      <iframe src="https://www.youtube.com/embed/gX4cGcwmdsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>

    <a id="next" href="/dontStarve" >
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRziLyw4dl02Uum4C9g2Sh-4zkPS7tU3vf-ch7Ey05VkbfmMIV9YpA-mkk2yDJf2fKAuI8&usqp=CAU" alt='Dont Starve'>
    </a>
  </div>
</div>