<div class="content">
  <div id="name"> 
    <h1>№3 Dont Starve</h1>
  </div>

  <article>
    <img src = "https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_download_software_5/SI_WiiUDS_DontStarveGiantEdition_image1600w.jpg" alt='Dont Starve'>
  </article>

  <div id="information">
    <h1>Dont Starve</h1>

    <p>
      Інді-відеогра, розроблена та випущена канадською компанією Klei Entertainment. 23 вересня 2013 року гра вийшла для Windows, Mac OS X та Linux в Steam, а вже через рік для PlayStation 4. Пізніше з'явилась версія Pocket Edition для планшетів на iOS. Завантажуваний вміст з назвою Reign of Giants (Царство велетнів) став доступним для завантаження 30 квітня 2014 року. У травні цього ж року студія анонсувала розробку багатокористувацької версії Don't Starve Together, яка перебуває в стадії відкритого бета-тестування (Steam Early Access) до цього часу.
    </p>

    <p>
      Гравець грає молодим вченим джентльменом на ім'я Вілсон. Він намагається створити невідому машину, та все марно. До нього починає говорити радіо. Воно обіцяє відкрити заборонене знання та допомогти збудувати машину. Вілсон погоджується і отримує знання, необхідне для завершення машини.
    </p>

    <h1>Ігровий процес</h1>

    <p>
      На даний час доступно два режими гри: пісочниця і пригодницький. Головною метою гри є виживати протягом тривалого періоду часу, уникаючи при цьому голоду, божевілля і ворогів. Гравець може збирати й робити предмети (інструменти, одяг, зброю), будувати (стіни, наукові станції), добувати їжу (вирощувати культури, збирати плоди рослин (культурних або диких), полювати, готувати добуті цими й іншими способами харчі (смаженням на вогні чи сушінням) та робити освітлення (без якого протагоніст божеволіє і отримує пошкодження від нічного монстра Чарлі) (предметами освітлення слугують вогнища, смолоскипи, ліхтарі), щоб допомогти собі вижити.
    </p>

    <p>
      Пригодницький режим також доступний лише в пісочниці. Аби перейти в нього, треба знайти двері, що ведуть до наступних світів (їх всього 5, не рахуючи пісочниці), кожен з яких має певну особливість (дощі з жаб, безкінечна зима). На кожному з них треба знайти двері Максвела, аби перейти на наступний рівень. Перейшовши в новий світ, герой втрачає усі вивчені рецепти та предмети. Якщо герой помре в режимі пригод, він повернеться у режим пісочниці з тими ж предметами, рівнями голоду, розуму та здоров'я (тому смерть у п'ятому світі — досить неприємний інцидент).
    </p>

    <h1>Режими</h1>

    <p>
      Гра містить два режими гри: (при цьому кожного місяця виходять доповнення)
    </p>

    <p>
      1) Пісочниця — звичайний режим. Протагоніст виживає у випадково згенерованому світі, вплинути на який при створенні нової гри можна лише за допомогою налаштуваннь його розмірів, кількості певних істот, рослин чи структур, тривалості частин доби (день, вечір та ніч), та пір року (літо, осінь, зима (у доповненні Reign of Giants є весна).
    </p>

    <p>
      2) Пригодницький (Сюжетний) — гравець може пройти п'ять рівнів, аби відкрити двох персонажів (Вес та Максвел). Пройшовши цей режим, гравець повертається в пісочницю.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system">
      <img src="https://store-images.s-microsoft.com/image/apps.5670.65118147888064862.34ac2629-c86a-44fa-b037-3dc09857899b.c3c2677c-5210-4956-98ae-32099f2443df" alt="dont starve">
      <li>Операційна система: Windows XP, 7, 8, 10 (32-64-bit)</li>
      <li>Процессор: Intel Pentium 4 2,0 GHz, AMD Athlon 64 2400+</li>
      <li>Оперативна пам'ять: 1 Гб</li>
      <li>Відеокарта: GeForce 6600 GT / Radeon X1300</li>
      <li>Звукова карта: Совместимая с DirectX 9.0c</li>
      <li>Вільне місце на жорсткому диску: 5 Гб</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/712640/ss_ccd72bdd195bb20ce587fce58429780a3afbeda0.1920x1080.jpg?t=1598399015" alt="dont starve">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/1272440/ss_8571a0a2f7c70a99020b139e1dfa61b387d02b96.1920x1080.jpg?t=1620697420" alt="dont starve">
      <img src="https://media.senscritique.com/media/000015626778/1200/Don_t_Starve_Together.png" alt="dont starve">
      <img src="https://lutris.net/media/games/screenshots/DS_03_0.png" alt="dont starve">
    </p>

    <h1>Купити гру можна за посиланням</h1> 

    <button><a href="https://store.steampowered.com/app/322330/Dont_Starve_Together/" target="_blank"> Steam </a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_dont_1">
      <h2>Розмір: 1.82 GB | RePack від Igruha</h2>

      <a id="download" href="/download/Dont-Starve-game.you-by-Igruha.torrent" download >скачати через </br>торент</a>

      <lu id="igruha">
        <h2>Особливості сетапа</h2>

        <li>- За основу взятий реліз від GOG</li>
        <li>- Нічого не вирізано/не перекодовано</li>
        <li>- Версія ігри:  429404 (41435)</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/fXP4_2qRHng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>
    
    <a id="next" href="/oxygenNotIncluded">
      <img src = "https://nerdbacon.com/wp-content/uploads/2017/09/6Y2xCwWkWC8.jpg" alt='Oxygen Not Included'>
    </a>
  </div>
</div>
