<div class="content">
  <div id="name"> 
    <h1>№5 Hearthstone</h1>
  </div>

  <article>
    <img src="https://d2q63o9r0h0ohi.cloudfront.net/_next/static/images/default-4fff3c606c794dc03a915b9071f562d3.jpg" alt='Hearthstone'>
  </article>

  <div id="information">
    <h1>Hearthstone</h1>

    <p>
      Колекційна карткова онлайн-гра створена по мотивам всесвіту Warcraft, розроблена компанією Blizzard Entertainment і поширюється по моделі free-to-play. Гра була випущена для персональних комп'ютерів 11 березня 2014 року. Пізніше була портована на платформи iOS та Android. Гра розповсюджується через Battle.net. Провідними геймдизайнерами були Ерік Додс і Бен Броуд.
    </p>

    <p>
      Як і в інших колекційних карткових іграх, головною метою гравця в Hearthstone є збір власної карткової колекції, яка поповнюється шляхом купівлі комплектів карток або отримання їх як нагороди. Матчі між гравцями зводяться до розіграшу карт із завданням першим звести очки здоров'я опонента до нуля. Випуск нових карток здійснюється у вигляді великих доповнень або через завантаження чергового однокористувацького режиму «Пригоди». Кожне нове доповнення ґрунтується на регіоні чи окремій локації всесвіту Warcraft.
    </p>

    <h1>Ігровий процес</h1>
    
    <p>
      У боях гравець бореться проти опонента, його завдання — звести здоров'я героя, що представляє суперника, до нуля. У кожного з героїв на початку бою 30 очок здоров'я та колода з 30 карток. Гравці ходять по черзі. Перед початком бою перший гравець отримує три випадкові карти зі своєї колоди, а другий — чотири.
    </p>

    <p>
      Обоє мають можливість один раз замінити будь-які отримані картки на інші, теж випадкові. Подальша боротьба полягає в розіграші карток з руки: «створінь» (англ. Creature), «заклинань» (Spell) або «зброї» (Weapon), також можна застосовувати класову здатність героя гравця. На початку ходу з колоди «в руку» здається одна картка. Розіграш будь-якої картки коштує певну кількість магічної енергії — мани. Упродовж перших 10-и раундів запас зростає від 1 до 10, даючи змогу користуватися все потужнішими комбінаціями. Далі запас у 10 одиниць відновлюється на початку кожного ходу. Бій відбувається на столі, так званому «полі бою». Існує кілька «полів бою» з різним оформленням. Обираються вони випадковим чином і ніяк не впливають на гру. Деякі декорації поля бою інтерактивні, проте ніяк не впливають на процес гри.
    </p>

    <p>
      Основні параметри кожного створіння — здоров'я й атака. Крім того, більшість створіння мають додаткові здібності. Поклавши картку створіння на поле бою(стіл), зазвичай гравець має дочекатися наступного раунду, щоб атакувати нею. Під час свого ходу гравець вказує своїм створінням ціль, яку вони будуть атакувати. Завдаючи атаки створінням суперника, створіння також втрачає частину свого здоров'я, що дорівнює атаці цілі. Картки заклинань дозволяють атакувати чи послаблювати ворогів або лікувати чи посилювати своїх створінь. Картки заклинань та створінь в більшості діють одразу, проте їх ефект може бути відкладеним до настання певного часу або якоїсь події.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="http://s.gamer-info.com/gl/h/e/a/r/hearthstone-heroes-of-warcraft_ba.jpg" alt="hearthstone">
      <li>Підтримка ОС: 7, 8, 10</li>
      <li>Процесор: Intel Core 2 Duo E6600 2.2 GHz / AMD Athlon 64 X2 5000 2.6 GHz</li>
      <li>Оперативна пам'ять: 2 ГБ</li>
      <li>Відеокарта: NVIDIA GeForce 8800 GT / ATI Radeon HD 4850</li>
      <li>Ліцензія (Таблетка: Не потрібна)</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://images.blz-contentstack.com/v3/assets/bltc965041283bac56c/blte167f28b97884c23/5f5015ea8ea4aa55f232a908/bg_board_mobile.jpg" alt="hearthstone">
      <img src="https://i.imgur.com/bkzMttj.png" alt="hearthstone">
      <img src="https://emc.acidadeon.com/dbimagens/hearthstone_mercenarios_1200x675_13102021072357.jpg" alt="hearthstone">
      <img src="https://i0.wp.com/cromossomonerd.com.br/wp-content/uploads/2018/01/hearthstone-capa.png?fit=1068%2C600&ssl=1" alt="hearthstone">
    </p>

    <h1>Офіційний сайт</h1>

    <button><a href="https://playhearthstone.com/ru-ru" target="_blank"> Посилання</a></button>

    <h1>Скачати офіційну версію з нашого сайту</h1>
    
    <section id="repack_stone_1">
      <h2>Розмір: 1.02 ГБ | Setup від Game.you</h2>

      <a id="download" href="/download/Hearthstone-Game.you-Setup.exe" download >скачати через </br>торент</a>

      <lu id="game_you">
        <h2>Особливості сетапа</h2>

        <li>- Точний оригіналу з офіційного сайту</li>
        <li>- Нічого не вирізано/не перекодовано</li>
        <li>- Версія ігри:  v 1.0.0.5834 (остання)</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/QdXl3QtutQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>
      
    <a id="next" href="/60_Seconds">
      <img src = "https://i.ytimg.com/vi/NrQCnW5z620/maxresdefault.jpg" alt='60 Seconds'>
    </a>
  </div>
</div>