<div class="content">
  <div id="name"> 
    <h1>Вас вітає Game.you!</h1>
  </div>

  <div class="info" id="info">

    <h3>Дякую, що відвіуєте мій сайт! Я killvaim розробник сайту Game.you також логотипу донат боту та групи discord) Надіюсь старання не марні... й вам була цікава та корисна вся інформація. Якщо у вас є пропозиції на рахунок співпраці або покращення сайту обов'язково зв'яжіться зі мною зручним для вас способом! Донадьте на ЗСУ за допомоги телеграм боту! Все буде Україна!!!</h3>

    <a href="https://discord.gg/zgAaHYXh" target="_blank">
      <article>
        <h2>спільнота discord</h2>
        <img src="/images/discord.png">
      </article>
    </a>

    <a href="https://www.facebook.com/profile.php?id=100082046961592"target="_blank">
      <article>
        <h2>сторінка facebook</h2>
        <img src="/images/facebook.png">
      </article>
    </a>

    <a href="https://t.me/Killvaim_official_bot" target="_blank">
      <article>
        <h2>донатбот telegram</h2>
        <img src="/images/telegram.png">
      </article>
    </a>

    <a href="https://www.instagram.com/_9krch.krl__/" target="_blank">
      <article>
        <h2>сторінка instagram</h2>
        <img src="/images/instagram.png">
      </article>
    </a>
  </div>
</div>