<div class="content">
  <div id="name"> 
    <h1>№1 Hollow Knight</h1>
  </div>

  <article>
    <img src="https://i.ytimg.com/vi/JuP47fRBsWg/maxresdefault.jpg" alt='Hollow Knight'>
  </article>

  <div id="information">
    <h1>Hollow Knight</h1>
                  
    <p>
      Це мультиплатформна відеогра в жанрі метроїдванія, випущена інді-студією Team Cherry у 2017 році для ПК. Спочатку гра була випущена для Windows, але місяцем пізніше була портована розробниками на Linux і macOS. Розробка гри була спонсорована через сервіс Kickstarter. У 2022 році силами ентузіастів вийшла неофіційна українська локалізація.
    </p>

    <p>
      Гра розповідає про пригоди та відкриття безіменного жука, якого усі називають просто Лицарем, у давно покинутому королівстві комах Святогнізді (Hallownest). Деякі критики назвали гру однією з найбільш атмосферних і якісних метроїдваній, а також класикою жанр.
    </p>
                  
    <h1>Ігровий процес</h1>

    <p>
      Основна частина ігрового процесу Hollow Knight зав'язана на дослідженні світу гри, який містить в собі подолання платформ, пошуки секретів і боїв із ворогами, які вам зустрінуться. Гравці досліджують величезний цілісний світ, використовуючи особливі поліпшення для пересування і прийоми з бойової системи (вдарити вниз по ворогу, щоб відскочити від нього). У багатьох зонах є перешкоди, які можна подолати лише перемігши певних босів і отримавши поліпшення, що випали з них. Таким чином гравцям доводиться відвідувати вже досліджені зони для пошуків секретів або просування по сюжету. Деякі зони змінюються по ходу сюжету, а тому повторне їх відвідування іноді привносить сюрпризи. Кожна зона з'єднана з іншою зоною декількома шляхами, а тому проходити гру можна по-різному. У кожної зони є своя мапа, але спочатку вона прихована. Для отримання мапи потрібно знайти картографа в кожній зоні та купити у нього мапу за місцеву валюту, після чого самостійно її заповнювати методом відвідування локацій.
    </p>

    <p>
      Бойова система заснована на використанні головним героєм цвяха (Nail) — місцевого аналога меча. Атакувати можна в чотири сторони — вгору, вниз, вправо, вліво. Цвях може бути поліпшений кілька разів у коваля, також можна вивчити спеціальні техніки володіння цвяхом у майстрів бою, при зустрічі з ними. Удари по ворогах накопичують спеціальний ресурс — Душу, який можна використати на зцілення або використання заклинань.
    </p>

    <p>
      Якщо гравець гине — він втрачає всю накопичену валюту — гео, а на його місці залишається тінь персонажа. Якщо вбити тінь, тоді гравець відновлює всю накопичену валюту та душу на момент смерті.
    </p>

    <h1>Сюжет</h1>

    <p>
      Велика частина історії Hollow Knight розказана не безпосередньо, а через предмети, таблички, думки інших персонажів тощо. Також багато моментів історії розказані лише натяками й багато секретних зон несуть в собі не тільки покращення, але часто і шматочок історії світу. На початку гри гравець відвідує місто на поверхні Ґрунтмут (Dirtmouth).
    </p>

    <p>
      Це місто знаходиться над руїнами королівства i воно недосяжне для кошмарів, які поглинули королівство. Гравець спускається вниз, щоб дослідити що ж сталося і знайти відповіді на питання. Більшість ворогів є такими ж комахами, які втратили свій розум, або потрапили під контроль якоїсь зарази.
    </p>

    <p>
      Спускаючись все глибше, все більше речей стає зрозумілішими, і жахливішими наслідки поширення зарази. В кінцевому результаті відкривається зв'язок нашого героя і цього королівства, а також стає зрозуміло справжнє призначення нашого героя — вмістити причину зарази всередині себе, тим самим замінивши свого попередника Порожнього лицаря (Hollow Knight), тим самим зупинивши її поширення. Однак, якщо знайти певні секрети та повністю пройти секретні рівні, тоді у гравця буде можливість не просто запечатати причину зарази, але також і битися з нею — божественним метеликом Осяйністю (Radiance).
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="/images/system.png" alt="hollow knight">
      <li>Операційна система: 7 / Windows 8.1 / Windows 10</li>
      <li>Процессор: Intel Core 2 Duo E5200 </li> 
      <li>Оперативна пам'ять: 4 GB</li>
      <li>Відеокарта: GeForce 9800GTX (1 GB) with Version 10</li>
      <li>Звукова карта: Звуковий пристрій, сумісне з DirectX® 9.0</li>
      <li>Вільне місце на жорсткому диску: 9 GB</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://i.pinimg.com/originals/c1/18/8d/c1188d8aee7f0c8aff32267d816e31a0.jpg" alt="hollow knight">
      <img src="https://cdn.pastemagazine.com/www/articles/2021/01/26/hollow_knight_map_main.jpg" alt="hollow knight">
      <img src="https://i.ytimg.com/vi/KvFNwVqlQ7k/maxresdefault.jpg" alt="hollow knight">
      <img src="https://64.media.tumblr.com/f588f65bd05223409b664eebc101108f/tumblr_inline_pkuamd39wU1v14z4m_1280.jpg" alt="hollow knight">
    </p>

    <h1>Купити гру можна за посиланням</h1> 

    <button><a href="https://store.steampowered.com/app/367520/Hollow_Knight/" target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_1">
      <h2>Розмір: 934 MB | RePack от xatab</h2>

      <a id="download" href="/download/Hollow-Knight-by-xatab.torrent" download >скачати через торент</a>

      <h2>Особливості репака</h2>

      <lu id="xatab">
        <li>- За основу взятий реліз від CODEX</li>
        <li>- Нічого не вирізано / Нічого не перекодовано</li>
        <li>- Ігрові архіви не відкриті</li>
        <li>- Версія 1.4.3.2</li>
        <li>- Включені всі DLC</li>
        <li>- Мову вибирати у налаштуваннях</li>
        <li>- Час завантаження 1 хвилина на HDD</li>
      </lu>
    </section>

    <section id="repack_2">

      <h2>Розмір: 853 MB | RePack от Mehaniki</h2>  

      <a id="download" href="/download/Hollow-Knight-v1.4.3.2-RePack-ot-Mehaniki.torrent" download >скачати через торент</a>

      <h2>Особливості репака</h2>

      <lu id="mehaniki">
        <li>- Версія гри - 1.4.3.2</li>
        <li>- Нічого не вирізано/перекодовано</li>
        <li>- Доповнення: Gods & Nightmare</li>
      </lu> 
    </section>

    <p id="repack_img">
      <img src="https://i.ytimg.com/vi/aZEeFv5P2Jo/maxresdefault.jpg" alt="hollow knight">
    </p>
                          
    <section id="repack_3">
      <h2>Розмір: 2.22 GB версія:1.5.78.11833 (50885) | GOG</h2>

      <a id="download" href="/download/Hollow_Knight_1.5.78.11833_50885_win_gog (1).torrent" download >скачати через торент</a>

                            
      <lu id="gog">
        <h2>Завантаження</h2>
        
        <li> Завантажити гру</li>
        <li> Завантажити доповнення з папки DLC</li>
        <li> Грати (україньська мова присутння)</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/iS-v4NMQkBg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
                      
    <h6>Наступна гра</h6>
    
    <a id="next" href="/deadCells">
      <img src = "https://cdn2.unrealengine.com/egs-deadcells-motiontwin-s1-2560x1440-312502186.jpg" alt='Dead Cells'>
    </a>
  </div>
</div>
