<div class="content">
  <div id="name"> 
    <h1>ТОП 9 ІГОР НА СЛАБКИЙ ТА СЕРЕДНІЙ ПК</h1>
  </div>

  <div id="games">

    <article>
      <a href="/hollowKnight" >
      <img src = "https://i.ytimg.com/vi/JuP47fRBsWg/maxresdefault.jpg" alt='Hollow Knight'>
      <h1>Hollow Knight </h1></a>
    </article>

    <article>
      <a href="/deadCells" >
      <img src = "https://cdn2.unrealengine.com/egs-deadcells-motiontwin-s1-2560x1440-312502186.jpg" alt='Dead Cells'>
      <h1>Dead Cells</h1></a>
    </article>

    <article>
      <a href="/dontStarve" >
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRziLyw4dl02Uum4C9g2Sh-4zkPS7tU3vf-ch7Ey05VkbfmMIV9YpA-mkk2yDJf2fKAuI8&usqp=CAU" alt='Dont Starve'>
      <h1>Dont Starve</h1></a>
    </article>

    <article>
      <a href="/oxygenNotIncluded" >
      <img src = "https://nerdbacon.com/wp-content/uploads/2017/09/6Y2xCwWkWC8.jpg" alt='Oxygen Not Included'>
      <h1>Oxygen Not Included</h1></a>
    </article>

    <article>
      <a href="/hearthstone" >
      <img src = "https://s2.glbimg.com/7-4UEe3Gp6x0HaSSHUKN9ysK-Z4=/0x0:695x391/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/2/O/CqEkAgTHSGAAAwfSVBng/2014-03-14-heartstone.jpg" alt='Hearthstone'>
      <h1>Hearthstone</h1></a>
    </article>

    <article>
      <a href="/60_Seconds" >
      <img src = "https://i.ytimg.com/vi/NrQCnW5z620/maxresdefault.jpg" alt='60 Seconds'>
      <h1>60 Seconds</h1></a>
    </article>

    <article>
      <a href="/paladins">
      <img src = "https://i.ytimg.com/vi/Wy12JyBUGpc/maxresdefault.jpg" alt='Paladins'>
      <h1>Paladins</h1></a>
    </article>

    <article>
      <a href="/inside">
      <img src = "https://i.ytimg.com/vi/fU3vzQYud7E/maxresdefault.jpg" alt='Inside'>
      <h1>Inside</h1></a>
    </article>
    
    <article>
      <a href="/limbo">
      <img src = "https://i.ytimg.com/vi/FHFxjhYFKfE/maxresdefault.jpg" alt='Limbo'>
      <h1>Limbo</h1></a>
    </article>
  </div>
</div>
