<div class="content">
  <div id="name"> 
    <h1>ІГРИ НА АНДРОЇД</h1>
  </div>

  <div id="games_1">

    <article>
      <a href="https://play.google.com/store/apps/details?id=com.YoStarEN.Arknights&hl=uk&gl=US" target="_blank">
      <img src = "https://img1.ak.crunchyroll.com/i/spire3/a3bc7ccd6bbb2e675eecc2b65bd626311641742073_main.jpg" alt='Arknight'>
      <h1>Arknight</h1></a>
    </article>

    <article>
      <a href="https://play.google.com/store/apps/details?id=com.activision.callofduty.shooter&hl=en_US&gl=US" target="_blank">
      <img src = "https://www.videogameschronicle.com/files/2020/03/call-of-duty-mobile-march-2020-scaled.jpg" alt='Call Of Duty'>
      <h1>Call Of Duty</h1></a>
    </article>

    <article>
        <a href="https://play.google.com/store/apps/details?id=com.frogmind.badland&hl=uk&gl=US" target="_blank">
        <img src = "https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_BadlandGameOfTheYearEdition.jpg" alt='Badland'>
        <h1>Badland</h1></a>
    </article>

    <div id="games_2">

    <article>
      <a href="/https://play.google.com/store/apps/details?id=com.ChillyRoom.DungeonShooter&hl=uk&gl=US" target="_blank">
      <img src = "https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_SoulKnight_image1600w.jpg" alt='Soul Knight'>
      <h1>Soul Knight</h1></a>
    </article>

      <article>
        <a href="https://play.google.com/store/apps/details?id=mobi.blackbears.towerlands&hl=uk&gl=US" target="_blank">
        <img src = "https://i.ytimg.com/vi/bKT-SsPIVDQ/maxresdefault.jpg" alt='Towerlands'>
        <h1>Towerlands</h1></a>
      </article>

      <article>
        <a href="/https://play.google.com/store/apps/details?id=thirty.six.dev.underworld&hl=uk&gl=US" target="_blank">
        <img src = "https://play-lh.googleusercontent.com/cu0OtFReZVakxoWfnTiRKMYV1GhBqBc9-UNyzOAUDex81TNNqJNAtcru6-w6cHrS5w" alt='Caves (roguelike)'>
        <h1>Caves (roguelike)</h1></a>
      </article>
    </div>
  </div>
</div>