<div class="content">
  <div id="name"> 
    <h1>№8 Inside</h1>
  </div>

  <article>
    <img src = "https://i.ytimg.com/vi/fU3vzQYud7E/maxresdefault.jpg" alt='Inside'>
  </article>

  <div id="information">
    <h1>Inside</h1>

    <p>
      Комп'ютерна гра в жанрі платформера з елементами головоломки, розроблена і видана незалежною датською студією Playdead для платформ Xbox One, Playstation 4 і PC у 2016 році. Inside є ідейним спадкоємцем Limbo (2010), попередньої гри Playdead Studios, і містить схожий ігровий процес і візуальний ряд. Дія гри розгортається в постапокаліптичному світі; гравець управляє безіменним хлопчиком і повинен уникати небезпек і долати різні перешкоди, щоб просунутися далі. Inside не містить діалогів або передісторії того, що відбувається на екрані, її сюжет залишає свободу для інтерпретації. Гра отримала безліч позитивних відгуків і нагород за незвичайну ігрову атмосферу і музичний супровід.
    </p>

    <h1>Ігровий процес</h1>
    
    <p>
      Inside поєднує в собі елементи платформера і головоломки; це сайд-скролер, в якому рух відбувається в одній площині, а гравець спостерігає за тим, що відбувається збоку. Головний герой гри — безіменний і беззбройний хлопчик — який протягом гри повинен уникати різних небезпек, і зокрема, не повинен дати ворогам себе зловити або вбити. Якщо відбувається зворотне, гра демонструє лякаючу анімаційну загибель героя. Однією з ключових механік в грі є управління на відстані млявими тілами інших людей — наприклад, деякі головоломки потрібно вирішити, переміщаючи відразу групу таких персонажів. Ця механіка, нагадує геймплей платформера The Swapper, вписана в світ і розповідь гри і змушує самого гравця ставити під сумнів моральність його дій.
    </p>

    <h1>Сюжет</h1>

    <p>
      На початку гри маленький безіменний хлопчик пробирається крізь лісову гущу, тікаючи від озброєних людей і собак. Вибравшись з лісу, хлопчик потрапляє на ферму, де знаходить мертвих свиней, в тушах яких копаються дивні черв'яки. Він також бачить людей. які дивно поводяться, вони нагадують зомбі; люди, які раніше переслідували хлопчика, вантажать їх на автомобілі і відвозять. Хлопчик знаходить шолом, який дозволяє йому управляти «зомбі» на околицях. Минувши ферму, хлопчик потрапляє в місто, по якому під наглядом охоронців з собаками рухаються колони «зомбі». У якийсь момент хлопчик і сам випадково потрапляє в одну з колон і змушений прикидатися одним з тих бездумно маршируючих «зомбі». Тікаючи від переслідування, хлопчик потрапляє на гігантську, частково затоплену фабрику; головоломки в цій частині гри вимагають від гравця управляти зростаючою групою робітників «зомбі», які покірно слідуюють за хлопчиком.
    </p>

    <p>
      У затопленій частині фабрики хлопчик на деякий час заволодіває батискафом для підводних занурень і наштовхується на дивну істоту, яка живе у воді і нагадує жінку з довгим волоссям. Істота, по всій видимості, налаштована агресивно і намагається тягнути хлопчика на дно. Пізніше це дійсно відбувається — хлопчик захлинається, однак таємнича істота прикріплює до хлопчика якийсь пристрій на кабелі. Завдяки цій процедурі герой оживає і отримує можливість нескінченно перебувати під водою і контролювати «зомбі» без спеціального шолома
    </p>

    <p>
      Покинувши затоплені підземелля, хлопчик вибирається в лабораторію, в якій вчені проводять дивні експерименти над «зомбі». В кінці шляху хлопчик потрапляє в велику камеру, заповнену водою, в центрі якої знаходиться величезна істота, отримана в наслідок зрощення великої кількості людей: з біомаси стирчать руки і ноги. Коли хлопчик намагається відключити від неї кабелі, біомаса оживає і буквально поглинає хлопчика, приєднуючи його до себе — в подальшому гравець управляє цією істотою. Розламавши оглядове скло контейнера, біомаса виривається в офісні приміщення, ламаючи все на своєму шляху. У той час як одні вчені в паніці тікають, інші, як здається, допомагають суті вибратися. В остаточному підсумку істота пробиває стіну лабораторії, скочується по зарослому лісом схилу і зупиняється на березі моря, припинивши рух. На цьому гра закінчується.
    </p>
    <p>
      Якщо гравець протягом гри виявить і вимкне 14 захованих «сфер» з підключеними дротами, відкриється секретна кінцівка — якщо всі сфери відключені і хлопчик ще не був поглинений біомасою, він зможе знайти на кукурудзяному полі, недалеко від початку шляху, захований бункер. У бункері знаходиться шолом для керування розумом і кілька комп'ютерних моніторів, а також кабель живлення. Коли хлопчик висмикує цей кабель, обладнання вимикається, і сам хлопчик теж мляво осідає на підлогу в тій же позі, що і решта без управління «зомбі».
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="https://gamestracker.org/_ld/15/1562.jpg" alt="Inside">
      <li>OC: Windows Vista / 7 / 8 / 8.1 / 10</li>
      <li>Процесор: Intel Core 2 Quad Q6600 2.4GHz</li>
      <li>Оперативна пам'ять: 4 Гб</li>
      <li>Вільне місце на жорсткому диску: 3 ГБ</li>
      <li>Звукова карта: Звуковий прилад, сумісний з DirectX® 11</li>
      <li>Відеокарта: NVIDIA GeForce GT 630 / AMD Radeon</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://i.ytimg.com/vi/yDm6PAgNohU/maxresdefault.jpg" alt="Inside">
      <img src="https://images.gog-statics.com/0f0bb2800498c41493e3c1b9e0128c1a68004a595f5da0868d362da3dbee955b_product_card_v2_mobile_slider_639.jpg" alt="Inside">
      <img src="https://playzona.org/uploads/posts/2016-08/1470511874_inside-game-playdead_1050_591_81_s_c1.jpg" alt="Inside">
      <img src="https://image.api.playstation.com/vulcan/img/rnd/202010/0810/auNTa3kASBnpCXKUsakn3xHx.jpg?w=440" alt="Inside">
    </p>

    <h1>Купити гру можна за посиланням</h1>

    <button><a href="https://store.steampowered.com/app/304430/INSIDE/"  target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_1">
      <h2>Рoзмiр: 1.05 GB | RePack от xatab</h2>

      <a id="download" href="/download/Inside_game.you_by_xatab.torrent" download >скачати через </br>торент</a>

      <h2>Особливості репака</h2>

      <lu id="xatab">
        <li>- За основу взят реліз від CONSPIR4CY</li>
        <li>- Нічого не вирізано / Нічого не перекодовано</li>
        <li>- Версія гри: 5.0.4.29787</li>
        <li>- Зміна мови в налаштуваннях гри</li>
        <li>- Час завантаження 2 хвилини</li>
      </lu>
    </section>

    <p id="repack_img">
      <img src="https://www.trustedreviews.com/wp-content/uploads/sites/54/2016/07/inside-6-1.jpg" alt="Inside">
    </p>

    <section id="repack_inside_2">
      <h2>Рoзмiр:951 MB | RePack от Mehaniki</h2>   

      <a id="download" href="/download/R.G.-Mechanics-game.you-Inside.torrent" download >скачати через </br>торент</a>


      <lu id="mehaniki">
        <h2>Особливості репака</h2>

        <li>Версія:5.0.4.29787</li>
        <li>Нічого не вирізано</li>
        <li>Час завантаження 2 хвилини</li>
      </lu> 
    </section>   
                            
    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/yDm6PAgNohU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>

    <a id="next" href="/limbo" >
      <img src = "https://i.ytimg.com/vi/FHFxjhYFKfE/maxresdefault.jpg" alt='Limbo'>
    </a>
  </div>
</div>