<div class="content">
  <div id="name"> 
    <h1>№9 Limbo</h1>
  </div>

  <article>
    <img src = "https://i.ytimg.com/vi/FHFxjhYFKfE/maxresdefault.jpg" alt='Limbo'>
  </article>

  <div id="information">
    <h1>Limbo</h1>

    <p>
      Відеогра жанру пазл-платформера, перший проєкт незалежної данської студії Playdead. Гру було випущено 21 липня 2010 року як ексклюзив для Xbox Live Arcade. Порти цієї гри для Playstation 3 та Microsoft Windows було зроблено після закінчення терміну ексклюзивності (один рік). Версію для OS X було випущено у грудні 2011, порт для Playstation Vita та iOS відповідно у червні та липні 2013.
    </p>

    <h1>Ігровий процес</h1>
    
    <p>
      Limbo — це 2D платформер, побудований на основі фізики рушія Box2D, що відповідає за керування об'єктами навколишнього середовища та ігровим персонажем. Гравець керує неназваним хлопчиком, бачачи світ збоку. 
      Він має спрямовувати його крізь небезпечне середовище та пастки в пошуках сестри. Дозволяється рух вправо і вліво, стрибки та взаємодія з об'єктами. В разі загибелі персонаж опиняється на початку глави, яких всього є 39 (40 разом із секретною). Розробники побудували такий дизайн головоломок, за яким хлопчик неодмінно буде помирати перед тим, як знайде розгадку. 
      Playdead назвали такий стиль гри стилем «спроб та смертей» та використовують образи жахливої смерті хлопчика у разі невдачі, аби підштовхнути гравця до правильного шляху. Пройдені раніше глави можна пройти заново. На деяких сховані секрети у вигляді білих яєць. Знайшовши їх, гравець отримає значки досягнень.
    </p>

    <p>
      Головоломки передбачають переміщення ящиків, блоків, натискання кнопок, що запускають механізми й керують силою тяжіння. Повсюдно хлопчика чекають пастки: прірви, водойми, капкани, циркулярні пили та шипи, а також хижаки та інші діти, які намагаються вбити хлопчика особисто чи заманити в пастку.
    </p>

    <p>
      Гра представлена в чорно-білих тонах, з використанням освітлення, ефектів зернистої плівки та мінімальною кількістю навколишніх звуків, аби створити напружену атмосферу, яка часто асоціюється з жанром жахів. Глави оформлені як занедбані туманні місця, наповнені пастками чи просто покинутими й зламаними, від того небезпечними, механізмами, спорудами. При загибелі тіло хлопчика розриває на шматки, іноді зустрічаються трупи й рої мух, чуються раптові звуки.
    </p>

    <p>
      Журналісти високо оцінили темний візуальний стиль, порівнюючи гру з фільмами жанру нуар та німецьким експресіонізмом. Беручи за основу естетику гри, рецензенти називали Limbo прикладом відеоігри як форми мистецтва.
    </p>

    <h1>Сюжет</h1>

    <p>
      Гра не дає чіткого уявлення про сюжет. Хлопчик отямлюється в лісі, де його переслідує велетенський павук. Далі він опиняється на болотах, місці, обжитому вороже налаштованими дітьми, минає міські руїни. Наприкінці хлопчик приходить в місце, наповнене механізмами, де сила тяжіння і все положення простору постійно змінюються. Врешті він опиняється в лісі, подібному на ліс з початку гри, де бачить дівчинку. Він робить кілька невпевнених кроків до неї, а та помічає його і на цьому гра завершується.
    </p>

    <p>
      Критиками й пересічними гравцями висувалися різні трактування сюжету. Згідно з релігійною, світ гри є Чистилищем, яке також асоціюється з Лімбом (звідки й назва), — місцем, куди згідно з католицьким віровченням потрапляють душі людей, котрі надто грішні для Раю, але ще не заслуговують Пекла. 
      В Чистилищі душі очищуються через страждання аби отримати можливість увійти до Раю. Висловлювалися думки, що хлопчик із сестрою вже мертві, але протагоніст мусить відшукати душу сестри, щоб обоє покинули Чистилище. Деякі гравці вважали, що сцена в титрах, де на місці зустрічі дітей висить зламана драбина і літають два рої мух, вказує на те як обоє померли, впавши з драбини чи не маючи змоги вибратися. 
      За однією з теорій всі пригоди хлопчика — лише перерваний сон. Можливо йому приснилися пошуки померлої сестри в Чистилищі, але незадовго до пробудження хлопчик розуміє, що вона жива, і прокидається. Дизайнер Арнт Єнсен стосовно сюжету повідомив, що умисно лишив відкритий фінал. За його словами повністю сюжет знає тільки він, але багато гравців у своїх міркуваннях дуже близькі до істини.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="https://cdn1.epicgames.com/92053006068e4aa9b1ad413f72090f5e/offer/LIMBO_340X440-340x440-5d0f4083d70fdfc1656a15428e98ec43.jpg" alt="limbo">
      <li>Windows: Xp, Vista, 7, 8, 10, 11 (32/64-bit)</li>
      <li>Процесор: з частотой 2 ГГц</li>
      <li>Оперативна пам'ять: 512 МБ</li>
      <li>Відеокарта: Обов'язкова підтримка шейдерів 3.0</li>
      <li>Звуковий карта: Звуковий прилад, сумісний з DirectX® 9.0с</li>
      <li>Вільне місце на диску: 150 МБ</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/48000/ss_402b32434e4bb1a8445397aa24b1b893fe3d257f.1920x1080.jpg?t=1644930429" alt="limbo">
      <img src="https://img.g2a.com/600x337/1x1x0/limbo-steam-key-global/590dfefa5bafe36cba353476" alt="limbo">
      <img src="https://progsoft.net/images/limbo-22050556c4521af36485d846a4198aac675b603a.jpg" alt="limbo">
      <img src="https://play-lh.googleusercontent.com/Ry0IjKLkNJpGCHHz17aW_dFa9geqgQyHJYyshAWhgzQCCQ55nUJgC8bkyE_TTxBxNQ=w526-h296-rw" alt="limbo">
    </p>

    <h1>Купити гру можна за посиланням</h1>

    <button><a href="https://store.steampowered.com/app/48000/LIMBO/"  target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="torrent">
      <h2>Розмір: 181 MB | torrent від Game.you</h2>

      <a id="download" href="/download/LIMBO-game.you-v3.0.0.1.torrent" download >скачати через </br>торент</a>

      <lu id="game_you_2">
        <h2>Особливості torrent файлу</h2>

        <li>- Oригіналу з офіційного сайту</li>
        <li>- Нічого не вирізано</li>
        <li>- Версія ігри:  v3.0.0.1(остання)</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/Y4HSyVXKYz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Повернутись</h6>

    <a id="next" href="/hollowKnight">
      <img src="https://i.ytimg.com/vi/JuP47fRBsWg/maxresdefault.jpg" alt='Hollow Knight'>
    </a>
  </div>
</div>