<div class="content">
  <div id="name"> 
    <h1>№4 Oxygen Not Included</h1>
  </div>

  <article>
    <img src="https://nerdbacon.com/wp-content/uploads/2017/09/6Y2xCwWkWC8.jpg" alt="Oxygen Not Included">
  </article>

  <div id="information">
    <h1>Oxygen Not Included</h1>

    <p>
      Відеогра жанру симулятора виживання космічної колонії, де гравець повинен керувати колоністами, допомагаючи їм рити, будувати та підтримувати базу, що розташована в астероїді. І усе це заради єдиної мети — дізнатися як вони тут опинилися та що ж сталося. Гра передбачає різноманітний спектр дій притаманних жанру: добування води, їжі, кисню; зберігання тепла; підтримки життєздатності; підтримки бойового духу тощо. З 18 травня 2017 року відеогра перебувала у дочасному доступі, допоки не була випущена 30 липня 2019-го.
    </p>

    <p>
      Гравець повинен керувати колоністами, допомагаючи їм рити, будувати та підтримувати базу, що знаходиться в астероїді. І усе це заради єдиної мети — дізнатися як вони тут опинилися та що ж сталося. Гра передбачає різноманітний спектр дій таких як: добування води, їжі, кисню; зберігання тепла; підтримки життєздатності; підтримки бойового духу тощо.
    </p>

    <h1>Розробка</h1>

    <p>
      Oxygen Not Included розроблена ванкуверською інді-студією «Klei Entertainment». Гра була анонсована для Windows під час PC Gaming Show на виставці Electronic Entertainment Expo 2016. Також було оголошено, що гра вийде на macOS і Linux. Тестова версія гри була запланована й випущена в ранньому доступі 15 лютого 2017 року. Спочатку гра повинна була вийти з раннього доступу 28 травня 2019 року, але була перенесена на липень 2019 року. «Klei» також оголосила про наявні плани зробити додатковий контент для гри. Йоганн Зейденц з «Klei» сказав, що такі ігри, як Dwarf Fortress, Prison Architect і The Sims, вплинули на дизайн Oxygen Not Included.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="http://cdn.gamestatic.net/files/gameland/games/08dfb52b-aeb0-11e9-9025-02da6d1ffc43/pic_poster_m.jpg" alt="Oxygen Not Included">
      <li>ОС: Windows 7, 8, 10 (64 bit)</li>
      <li>Процесор: Intel Core 2 Duo or AMD equivalent</li>
      <li>Оперативна пам'ять: 4 GB ОЗУ</li>
      <li>Відеокарта: NVIDIA GeForce GTX 460 or Radeon HD 5770</li>
      <li>DirectX: Версии 9.0c</li>
      <li>Вільне місце на жосткому диску: 2 GB</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://steamuserimages-a.akamaihd.net/ugc/1012693415431659979/3379D5ABC3749F9F2AB1A84BC1032172F2ECFABA/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="Oxygen Not Included">
      <img src="https://vsetop.org/uploads/posts/2017-02/vsetop.com_1487242577_scr4.jpg" alt="Oxygen Not Included">
      <img src="https://im.tiscali.cz/games/2016/06/30/652221-oxygen-not-included-1600x900.jpg?1587596281" alt="Oxygen Not Included">
      <img src="https://i.ytimg.com/vi/wSSL2Dm3G8M/maxresdefault.jpg" alt="Oxygen Not Included">
    </p>

    <h1>Купити гру можна за посиланням</h1>

    <button><a href="https://store.steampowered.com/app/457140/Oxygen_Not_Included/"  target="_blank">Steam</a></button>

    <h1>Скачати не офіційну версію</h1>

    <section id="repack_oxg_1">
      <h2>Розмір: 857 MB | RePack от Igruha</h2>

      <a id="download" href="/download/Oxygen-Not-Included-game.you-by-Igruha.torrent" download >скачати через </br>торент</a>

      <lu id="igruha">
        <h2>Особливості репака</h2>

        <li>- Версія ігри:- v509629-S / build 8853491</li>
        <li>- Нічого не вирізано/не перекодовано</li>
        <li>- Установка ~ 20 секунд</li>
      </lu>
    </section>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/wcLayGm_pM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>
    
    <a id="next" href="/hearthstone">
      <img src = "https://s2.glbimg.com/7-4UEe3Gp6x0HaSSHUKN9ysK-Z4=/0x0:695x391/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/2/O/CqEkAgTHSGAAAwfSVBng/2014-03-14-heartstone.jpg" alt='Hearthstone'>
    </a>
  </div>
</div>