<div class="content">
  <div id="name"> 
    <h1>№7 Paladins</h1>
  </div>

  <article>
    <img src = "https://i.ytimg.com/vi/Wy12JyBUGpc/maxresdefault.jpg" alt='Paladins'>
  </article>

  <div id="information">
    <h1>Paladins</h1>

    <p>
      Геройський шутер від першої особи незалежної приватної американської відеоігрової компанії Hi-Rez Studios. Гра була розроблена Evil Mojo, внутрішньою студією Hi-Rez, і була безкоштовно випущена 8 травня 2018 року для Microsoft Windows, PlayStation 4 і Xbox One, а потім вийшла версія для Nintendo Switch 12 червня 2018 року.
    </p>

    <p>
      Гра стала доступна в ранньому доступі в Steam у вересні 2016. Згідно з даними Steam Spy, за перший тиждень після релізу в Steam гра була завантажена 800 тисяч разів і увійшла до десятки найпопулярніших безкоштовних ігор. Відкрите бета тестування для PlayStation 4 та Xbox One розпочалося 3 травня 2017 року. Версія відрізняється лише тим, що керування відбувається на геймпаді.
    </p>

    <h1>Сюжет</h1>
    
    <p>
      Дія «Паладінів» розгортається у науково-фантастичному світі під назвою Realm або The Realm. Є елементи як фентезі, так і наукової фантастики, включаючи солдатів середньовіччя, які замість мечів використовують зброю дальнього дистанції, таку як рушниці та штурмові гвинтівки.
    </p>

    <p>
      У світі Паладінів відбувається конфлікт між двома фракціями; Маґістрат і Супротиву/Паладінів. У той час як Маґістрат хоче контролювати магію, не дозволяючи нікому, окрім його членів, використовувати її, Супротив стверджує, що магія повинна бути доступною для всіх і використовуватися на благо. Чемпіонів набирали, щоб звести до мінімуму втрати регулярних піших солдатів. Чемпіони вважаються «спецназом», оскільки вони більш ефективні в бою, ніж звичайний солдат. Однак не всі чемпіони віддані. Було небагато таких, які під час війни не обирали сторону, скоріше вони укладали контракт з обома, роблячи себе найманцями. Решта цих спецпідрозділів була віддана фракції, або маґістрату, або Опору.
    </p>

    <p>
      У грі також є інші фракції, такі як «Безодня», «Гільдія Тисячі Рук», «Вогник» і «Тьма», які не обирають сторону між Маґістратом чи Супротивом, але відіграють помітну роль у історії деяких персонажів.
    </p>

    <h1>Ігровий процес</h1>

    <p>
      Паладіни має різних героїв, звані чемпіонами, для гравців, щоб вибрати під час ігрових сесій. Кожен з цих чемпіонів потрапляють в одну з наступних категорій: лінія фронту, пошкодження, підтримка та фланг. Гравці повинні покладатися на стратегію, характер знань, координація і робота в команді для досягнення перемоги. Гравці можуть використовувати ВГС, поряд з текстовим та голосовим чатом для спілкування. Хороша команда буде мати збалансований вибір класів, які будуть підтримувати один одного під час гри. 
    </p>

    <p>
      1) Танк: герої, які служать щитом команди, тримають перед собою щит і захищають своїх союзників. З високим запасом здоров'я і можливістю екранування, чемпіони-танки відмінні для блокування ворожого вогню і зриві ворожого об'єкту. 
    </p>

    <p>
      2) Атака: герої, які володіють надійним і послідовним потенціалом пошкоджень. Їх пошкодження, в поєднанні з середнім запасом здоров'я і непоганою рухливістю, ідеально підходять для перестрілок. Підтримка: чемпіони з високою корисністю і цілющими здібностями. Завдяки своїм лікувальним можливостям, які тримають їх союзниками в боротьбі, чемпіони підтримки є безцінними союзниками.
    </p>

    <p>
      3) Фланґ: чемпіони, які досягають успіху в обході поля битви і тримаються в тилу ворога, усуваючи ключові цілі. У той час як більшість флангових героїв дещо кволі, з меншим запасом здоров'я, ніж будь-якої іншої ролі, їх висока мобільність і забезпечують надання їм можливості порятунку та виживання.
    </p>

    <p>
      У грі є 55 чемпіонів, 6 з яких доступні з самого початку для нових гравців. Крім того, 4 чемпіонів також тимчасово доступні для безоплатно користування на два тижні ротації. Гравці можуть постійно отримувати додаткових чемпіонів через покупки, використовуючи ігрову валюту.
    </p>

    <h1>Системні вимоги</h1>

    <lu id="system"> 
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202101/2623/pUAxQBlvEEtMXhBYJ3MBmksm.jpg" alt="Paladins">
      <li>ОС: Windows 7 64-bit or newer</li>
      <li>Процессор: Core 2 Duo 2.4GHz or Athlon X2 2.7GHz</li>
      <li>Оперативна пам'ять: 4 GB ОЗУ</li>
      <li>Відеокарта: Nvidia GeForce 8800 GT</li>
      <li>Вільне місце на жорсткому диску: 30 GB</li>
      <li>Звукова карта: DirectX compatible sound card</li>
    </lu>

    <h1>Фото гри</h1>

    <p id="image1">
      <img src="https://i.pinimg.com/originals/c1/d1/44/c1d144dd02ef74bac798aa2adc72848a.jpg" alt="Paladins">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/444090/ss_24e9a7cf56657ebc97c6e07f4c40884a49a8ac8f.1920x1080.jpg?t=1627048536" alt="Paladins">
      <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1721880/ss_a7b17261c8bb57913f6e7ceb7c248da555799802.1920x1080.jpg?t=1631705877" alt="Paladins">
      <img src="https://media.vandal.net/i/1280x720/32618/paladins-champions-of-the-realm-201692718512_1.jpg" alt="Paladins">
    </p>

    <h1>Cкачати гру можна за посиланням</h1>

    <button><a href="https://store.steampowered.com/app/444090/Paladins/"  target="_blank">Steam</a></button>
    
    <section id="how_to_download">
      <h2>Гра являється безкоштовною</h2>

      <lu id="game_you_1">
          <h2>Як скачати</h2>

          <li>1) Переходьте за посиланням</li>
          <li>2) Скачуйте гру на платформі</li>
          <li>3) Запускайте й насолоджуйтесь</li>
      </lu>

    <section id="trailer">
      <h4>Трейлер</h4>
      <iframe src="https://www.youtube.com/embed/dEwEC2MKgeQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <h6>Наступна гра</h6>

    <a id="next" href="/inside">
      <img src = "https://i.ytimg.com/vi/fU3vzQYud7E/maxresdefault.jpg" alt='Inside'>
    </a>
  </div>
</div>