<div class="content">
  <div id="name"> 
    <h1>КОРИСНІ ВІДЕО</h1>
  </div>

  <div id="video">

    <article>
      <iframe src="https://www.youtube.com/embed/uySJpmfM7q4" title="Arknights Official Concept Trailer 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/mvivPy7j6_Q" title="Arknights Official Concept Trailer 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/_fHizOtMLnM" title="Arknights Official Concept Trailer 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/OQ1CwPhE8KQ" title="Reveal Trailer | Call of Duty: Vanguard" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/7nkxyKo09Qs" title="BADLAND - Launch Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/qKGGlswqBAc" title="Soul Knight 2022 Spring Festival Update Trailer - Happy 5th Anniversary!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/Jnc3SpAX77w" title="Towerland - Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>

    <article>
      <iframe src="https://www.youtube.com/embed/JfytSAj1jsA" title="Caves (Roguelike) - Game for Android OS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
  </div>
</div>
