@import "/stylesheets/animation.css";

body {
  margin: 0;
  background-image:url(/images/fone.png);
  
  #name {
    margin-top: 3vw;
    border-radius: 2vw 2vw 0 0 ;
    border-bottom: 5px rgb(130, 129, 136) solid;

    h1 {
      text-shadow: 0 0 7px #876694, 0 0 15px #300644;
      color: rgb(0, 0, 0);
      margin: 20px;
      padding-left: 4vw;
      padding-top: 1vw;
      font-size: 2.3vw;
      font-weight: 800;
    }
  }
  
  main {
    margin:0vw 12vw;
    background-color: rgb(64, 62, 73);
    border-radius:2vw ;

    h3 {
      margin-left: 3vw;
      font-size: 2vw;
      color: rgb(20, 1, 42);
      line-height: 3vw;
    }

    article{
      box-shadow:0 0 1px #000000, 0 0 1.25px #000000, 0 0 2.5px #000000, 0 0 5px #000000, 0 0 10px #000000;
      overflow: hidden;
      display: inline-block;
      
      width: 14.6vw;
      height: 8vw;
      background-color: #4f4967;
      border-radius: 2vw;
      margin-left: 3vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
      

      &:hover{
        h2{
          opacity: 1;
          transform: translateY(-30%);
        }

        img{
          opacity: 50%;
        }
      }

      img{
        margin-left: 3vw;
        margin-top: 1vw;
        width: 8vw;
        height: 6vw;
        filter: invert(99%);
        position: relative;
        transition: .6s;
      }

      h2{
        text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 10px #000000;
        opacity: 0;
        position: absolute;
        font-size: 1.5vw;
        margin-top: 4vw;
        margin-left: 0.5vw;
        color: rgb(146,143,206);
        z-index: 1;
        transition: .7s;
        transform: translateY(0%);
      }
    }
  }
}