@import "/stylesheets/animation.css";

body {
  margin: 0;
  background-image:url(/images/fone.png);
  
  #name {
    margin-top: 3vw;
    border-radius: 2vw 2vw 0 0 ;
    border-bottom: 5px rgb(130, 129, 136) solid;

    h1 {
      text-shadow: 0 0 7px #876694, 0 0 15px #300644;
      color: rgb(0, 0, 0);
      margin: 20px;
      padding-left: 4vw;
      padding-top: 1vw;
      font-size: 2.3vw;
      font-weight: 800;
    }
  }
  main {
    margin:0vw 12vw;
    background-color: rgb(64, 62, 73);
    border-radius:2vw ;

    #video{ 
      padding-bottom: 2vw;
    }

    article{
      margin-top: 2vw;
      margin-left: 5vw;
      display: inline-block;
    }

    iframe {
			display: flex;
      margin: 0%;
      box-shadow:0 0 1px #000000, 0 0 1.25px #000000, 0 0 2.5px #000000, 0 0 5px #000000, 0 0 10px #000000;
      border-radius: 2vw;
			width: 30vw;
			height: 15vw;
      transition: .4s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
