@import "/stylesheets/games.css";

#how_to_download{
  font-size: 1.4vw;
  color: rgb(11, 0, 22);
  line-height: 3vw;
  list-style-type: none;

  #game_you_1{
    float: right;
    font-size: 1.6vw;
    padding-right: 1vw;
  }
} 